
@import "bootstrap";
/*we can add this later, It's just too much work right now*/
/* @import "bootstrap-responsive"; */
@import "mixins";

/*css document*/

/*****************************************               *****************************************/
/***************************************** global styles *****************************************/
/*****************************************               *****************************************/
html, body {height: 100%;}
body {
	/*this is where you can change the background image*/
	/* .bg-cover ('http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_52c574c2b2c73_1.JPG'); */
	background: rgb(239, 234, 227);
	.open-sans();
	font-size:12px;
	color:#333;
	position:relative;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}

input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus, input:focus, textarea:focus{outline: 0; box-shadow:none !important; -webkit-box-shadow: none !important; -moz-box-shadow:none !important;}
select {outline: none !important;}
::-webkit-input-placeholder {text-shadow: none; font-weight: 200; letter-spacing: 1px;.open-sans(); font-size: 12px;}
:-moz-placeholder { /* Firefox 18- */ text-shadow: none;  font-weight: 200; letter-spacing: 1px;.open-sans(); font-size: 12px; }
::-moz-placeholder {  /* Firefox 19+ */text-shadow: none;  font-weight: 200; letter-spacing: 1px; .open-sans(); font-size: 12px;}
:-ms-input-placeholder {  text-shadow: none;  font-weight: 200; letter-spacing: 1px;.open-sans(); font-size: 12px;}

/* links */
a, a:visited {text-decoration: none; color: #0088cc;}
a:hover {text-decoration: none; color: #005580;}

/* ul reset */
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

div.tooltip-inner {
    text-align: center;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    font-size: 12px;
    width: 150px;
    .open-sans();
}


/* required for sticky footer */
.push {height:300px;}
#wrap-section {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -300px;
}

/* all default headlines */
h1,h2,h3,h4,h5,h6,legend {
	text-shadow: 1px 1px 0 #FFF;
	color: #868686 !important;
	font-weight: 200;
	text-transform: lowercase;
}

/* all errors */
.validation-errors {display: inline-block; font-weight: 200;}
.error { color: red;font-size: 16px; font-weight: 200; position: absolute; top: 52px;}

/* buttons */
.btn, button {
	background: #4d90fe;
	text-transform: lowercase;
	font-weight: 100 !important;
	color: #fff !important;
	text-shadow: none;
    letter-spacing: 1px;
	border: none;
	width: auto !important;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow:none;
	.open-sans();
	font-size: 12px;
	.transition(.3s);
	-webkit-font-smoothing: auto; }
.btn:focus, .btn:hover, button:focus, button:hover {background-position: 0 0 !important;.transition(.3s);}
.btn:hover, button:hover {background: #0072bb; color: #fff;.transition(.3s);}
.btn.cancel, button.cancel {background: #dd4b39;}
.btn.account {margin-bottom:2px;}
.btn.cancel:hover, button.cancel:hover {background: #c53727;}
.btn.purple, button.purple {background: #852b99;}
.btn.purple:hover, button.purple:hover {background: #6d1b81;}
.btn.green, button.green {background: #35aa47;}
.btn.green:hover, button.green:hover {background: #1d943b;}
.btn.black, button.black {background: #333}
.btn.black:hover, button.black:hover {background: black;}
.cp-btn {position: absolute; top:10px; left: -10px;}

.cp-btn:before,
		.cp-btn:after {
			content:" ";
			border-top:10px solid rgb(151, 151, 151);
			position:absolute;
			bottom:-10px;
			} 
			.cp-btn:before {
				border-left:10px solid transparent;
				left:0;
				}
			

/* just the icons */
a.just-icon, button.just-icon {color: #868686 !important;}
a.just-icon:hover { color: #0072bb !important;} 
a.just-icon.cancel:hover, button.just-icon.cancel:hover {color: #c53727 !important; background: none !important;} 

.table-condensed th, .table-condensed td {cursor: pointer;}


/* label & input defaults */
legend {border-bottom: none;}
textarea, input[type='text'], input[type='password'], input[type='datetime'], input[type='datetime-local'], input[type='date'], input[type='month'], input[type='time'], input[type='week'], input[type='number'], input[type='email'], input[type='url'], input[type='search'], input[type='tel'], input[type='color'], .uneditable-input, select {	
	.border-radius (@radius: 0);
	width: 190px; 
	margin-bottom:0;
	margin-top:6px;
	height:29px;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow:none;
	background: #F8F8F8;
}

label {
	cursor: default; 
	font-size: 12px;
	display: inline-block;
	width: 150px;
	text-align: right;
	position: relative;
	top: 4px;
}

/* navbar */
.navbar {
	.z(10);
	height: 40px;
	
	.navbar-inner {background: #333; border-color:#252525;width:100%;height:40px;position:relative;}
	input {margin: 0; border:none !important; letter-spacing: 1px; .open-sans();}
	.brand {color:#999;background-color:#333;transition: all .3s ease-out; text-shadow: none;-webkit-transition: all .3s ease-out;-moz-transition: all .3s ease-out;-o-transition: all .3s ease-out;border-right: 1px solid #999;border-left: 1px solid #999;}
	.brand:hover {color: #fff; background-color: #201a1a;transition: all .3s ease-out;-webkit-transition: all .3s ease-out;-moz-transition: all .3s ease-out;-o-transition: all .3s ease-out;}
	.login-dropdown {display: none; position: absolute;background: rgba(51, 51, 51, 0.6);padding: 25px 5px 50px 5px;top: 40px;right: -15px;width: 520px; text-align: center;}
	.login-dropdown .btn {height: 38px;}
	form, .btn {margin: 0;}
	.nav1-login {color:#fff;display: inline-block;line-height: 40px;color: #999;padding: 0 10px;cursor: pointer;letter-spacing: 1px;transition: all .3s ease-out;-webkit-transition: all .3s ease-out;-moz-transition: all .3s ease-out;-o-transition: all .3s ease-out;border-left: 1px solid #999;border-right: 1px solid #999; position: relative; right: -15px;}
	.nav1-login i {display: inline-block;-webkit-transition: all .3s ease-out;-moz-transition: all .3s ease-out;-ms-transition: all .3s ease-out;-o-transition: all .3s ease-out;transition: all .3s ease-out; }
	.nav1-login:hover,.nav1-feedback:hover {background-color: #201a1a;transition: all .3s ease-out;-webkit-transition: all .3s ease-out;-moz-transition: all .3s ease-out;-o-transition: all .3s ease-out;}
	.nav1-feedback {color:#fff;display: inline-block;line-height: 40px;color: #999;padding: 0 10px;cursor: pointer;letter-spacing: 1px;transition: all .3s ease-out;-webkit-transition: all .3s ease-out;-moz-transition: all .3s ease-out;-o-transition: all .3s ease-out;border-left: 1px solid #999; position: relative; right: -17px;}
	i.rotate {-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);-ms-transform:rotate(180deg);}
	.forgot-pw a {color: #fff !important; display: block; margin-top: 15px; cursor: pointer; position: absolute; width: 100%; left: -5px;}
	.welcome-user {color: #999;display: block;height: 40px;padding: 0 10px;border-right: 1px solid #999; margin: 0; min-width: 300px; line-height: 40px; text-align: right; overflow: visible; position: absolute;} 
	.welcome-user .icon-circle {font-size: 75%;position: relative;top: -1px;color: rgb(36, 173, 86);text-shadow: 0 0 9px rgb(134, 250, 119); cursor: pointer;}
	.wu-locator {right: 360px;}
	.wu-property {right: 215px;}
	.wu-admin {right:215px;}
	.logged-in-nav li {display: inline-block;text-align: center;margin: 0; border-right:1px solid #999; text-align: center; width: 70px; margin-left: -2px;transition: all .3s ease-out;-webkit-transition: all .3s ease-out;-moz-transition: all .3s ease-out;-o-transition: all .3s ease-out;}
	.logged-in-nav li a {display: block; color: #999; height: 40px; line-height: 40px; padding-left: 5px; padding-right: 5px; letter-spacing: 1px;transition: all .3s ease-out;-webkit-transition: all .3s ease-out;-moz-transition: all .3s ease-out;-o-transition: all .3s ease-out;}
	.logged-in-nav li a:hover {background: black;transition: all .3s ease-out;-webkit-transition: all .3s ease-out;-moz-transition: all .3s ease-out;-o-transition: all .3s ease-out;}
	.logged-in-nav li a i.icon-comments-alt {position: relative; top: 2px;}
	
	    
}

.home-hero {
	padding-top: 90px;
	height: 270px;
	width: 100%;
	.z(-1);
	.bg-cover ('http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_52d092fc163a3_1.JPG');
	.hero-inner-wrapper {position: relative;}
	.reg-box {text-align: center; margin-top: 40px; border-top:1px solid rgba(255, 255, 255, 0.4);}
	p {color: #fff; font-weight: 200; font-size: 30px; letter-spacing: 1px; text-rendering: optimizeLegibility; margin-top: 10px;}
	p.reg-command, p.error {font-size: 20px; margin-top: 20px;display: inline-block; position: relative; top:3px;}
	p.unregistered {display: inline-block;}
	form {display: inline-block; margin: 0; text-align: center;
		.btn {.open-sans(); background: rgba(0,0,0,0.4); letter-spacing: 1px;transition: all .3s ease-out;-webkit-transition: all .3s ease-out;-moz-transition: all .3s ease-out;
		-o-transition: all .3s ease-out; height: 38px;} 
		.btn:hover { background:rgba(0,0,0,0.9); transition: all .3s ease-out;-webkit-transition: all .3s ease-out;-moz-transition: all .3s ease-out;-o-transition: all .3s ease-out;}
		input:focus{outline: 0; box-shadow:none !important; -webkit-box-shadow: none !important; -moz-box-shadow:none !important;}
		input {margin: 0; border:none; background: rgba(255, 255, 255, 0.4); letter-spacing: 1px; .open-sans();}
		::-webkit-input-placeholder {color: white; text-shadow: none; font-weight: 200; letter-spacing: 1px;.open-sans();}
		:-moz-placeholder { /* Firefox 18- */color: white;  text-shadow: none;  font-weight: 200; letter-spacing: 1px;.open-sans(); }
		::-moz-placeholder {  /* Firefox 19+ */color: white;  text-shadow: none;  font-weight: 200; letter-spacing: 1px; .open-sans();}
		:-ms-input-placeholder {  color: white;  text-shadow: none;  font-weight: 200; letter-spacing: 1px;.open-sans();}
	}
}

.home-all-wrapper {
	width: 100%;
	background: rgb(239, 234, 227);
	position: relative;
	z-index: 10px;
	padding-top: 70px;
		
	.home-text1{font-size: 13px;margin-bottom: 50px; i{position: relative; top:1px;}}
	.features {background: rgb(65, 75, 82); padding-top: 80px; padding-bottom: 80px;
		span {width: 33%; display: inline-block;text-align: center;margin: 0; float: left;}
		h2 {text-shadow:1px 1px 0 rgb(66, 68, 73); color: #efeae3 !important; margin: 0;}
		p {font-size: 14px; padding: 20px; color: rgb(190, 190, 190);}
		i.icon-8x {font-size: 8em; display: block; margin-top: 20px;}
	}
	.who-uses {padding-top: 50px;padding-bottom: 50px;
		.logos {text-align: center;
			img {margin: 40px 15px;}
		} 
	}
	.home-faq { background: #fff; padding-top: 50px; padding-bottom: 50px; 
		hr{margin-bottom: 50px;}
		.span12, .span6 {margin: 0;}
		.span6 {transition: all .3s ease-in-out;-webkit-transition: all .3s ease-in-out;-moz-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;}
		.span6:hover {background: #efeae3; cursor: pointer;transition: all .3s ease-in-out;-webkit-transition: all .3s ease-in-out;-moz-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;}
		h4{padding: 10px 20px; }
		p {padding: 0 20px;}
		
	}
}

.overlay {position: fixed; height:100%; width:100%; left: 0; right:0; top:0; bottom:0; background: rgba(51, 51, 51, 0.9); display: none;}
.not-yet {display: none; height: 50px; width: 50px; font-size: 40px; color: rgba(236, 22, 22, 0.78); position:absolute; right: -27px; top:0; cursor: pointer; font-weight: 100;}

/* footer */
footer {
	background: #414b52;
	border: none;
	width:100%;
	height:300px;
	text-align:center;
	position:relative;
	
	.container {padding-top: 50px; padding-bottom: 50px;}
	.footer-toe:hover {color:#fff;}
	.footer-toe {
		margin:15px;
		position:relative;
		top:13px;
		color:#969696;
		font-size:12px;
		letter-spacing:1px;
		opacity:1!important;
	}
}

/* basic layout for every page */
.page-content {
	position: relative;
	border:1px solid #ccc;
	background: #fff;
	top:120px;
	margin-bottom: 200px;
	.z(5);
	
	> div {padding: 0 30px 30px;}
}

/*****************************************               *****************************************/
/*****************************************  page styles  *****************************************/
/*****************************************               *****************************************/

/* browse properties page */
.browse-wrap {
	padding-bottom: 30px;
	ul {margin-left: 1%;}
	ul li.browse-listing:nth-child(odd){border-right:1px dotted #ccc;}
	.browse-listing {height: 125px; position: relative; padding-top: 25px; display: inline !important; clear: none !important; width: 49%; float: left;border-bottom: 1px dotted #ccc;
		h4 {display: inline;}
		img {margin-left: 20px; margin-right: 30px; min-height: 100px; min-width: 100px;}
	}
}

/* search properties page */
.search-wrap {
	.unit-search {display: none;}
	span.property-features {
		width: 650px;
		display: inline-block;
		left: 50%;
		position: relative;
		margin-left: -325px;
		
		span {display: inline-block; text-align: left;width: 200px;position: relative; top: 3px;}
		.property-features-dropdowns label {width: 110px; position: relative; top: 3px; text-align: right;}
		.property-features-dropdowns select {margin-right: 20px;}
	}
	select {width: 205px !important;}
	.unit-switch {position: absolute;top: -28px;left: 141px;}
	.property-switch {position: absolute;top: -28px;left: 10px;}
	.transition-none {.transition(0s);}
	.active-tab {color: #333 !important; background: white !important; border:1px solid #ccc; border-bottom: none;}
}

/* home page */
.home-wrapper { top: 0px; margin-bottom: 90px;
	.btn {margin-top: 20px;}
	img {margin-right: 15px; position: relative;top: 2px;}
	input[type='radio'] {margin:0 5px 0 11px;position:relative;top:-2px;}
	.radio-label {margin-right: 0; top: 0;}
	.radio-selectors {margin:15px 0; display:block; font-size: 13px;}
	.row-fluid {width: auto;}
	form {margin: 0;}
	label {width: 180px;}
	hr {margin: 0;}
	.detailed {position: absolute; right: 30px; bottom: 5px; cursor: pointer;}
	.flexible-text {max-width: 100% !important; width: 100% !important; height: 100px; display: none; margin: 0 !important;}
	> div {padding: 30px;}
}

/* edit profile page */
.edit-wrap {
	.btn {margin-bottom: 20px;}
	.submit-btn {margin-right: 10px;}
	.field-requirements {display: block; width: 300px; text-align: left; position: relative; left: 155px; top: -3px;}
}

/* property management page */
.property-edit {
	.row {margin: 0;}
	input {margin-bottom: 0px;}
	.pushleft200 {margin-left: 157px; top: 0; width: auto;}
	.width50 {width: 49%; display: inline-table;}
	.unit-label {width: 300px; display: inline-block;}
	.unit-list {padding: 5px 0;}
	.low30 {margin-top: 30px;}
	.push-left {position: relative; left: -10px;}
	.unit-list .btn {position: relative; top:-5px;}
	.edit-inner {padding-bottom: 50px;}
	.edit-inner .icon-ok {color: #35aa47;}
	.checkboxes span {width: 204px; display: inline-block;}
	input[type='text'], input[type='password'] {width: 220px;} select {width: 235px; outline: none;}
	#pet-policy textarea, #announcements1 textarea {width: 99%; height: 100px; max-width: 99%; margin-bottom: 20px;}
	#pet-policy, #announcements1 {display: none;}
	legend{margin-bottom: 10px;}
	.unit-mgmt {display: none;}
	ul.manage-tabs {color: white; font-size: 16px;padding-top: 10px; padding-bottom: 10px; margin-bottom: 20px;}
	ul.manage-tabs li {display: inline-block; text-align: center; cursor: pointer;}
	ul.manage-tabs li {.transition(.2s);}
	.sub-btn {position: absolute; right: 30px; bottom: 30px;}
	.p-unit-switch {position: absolute;top: -28px;left: 182px;}
	.p-property-switch {position: absolute;top: -28px;left: 10px;}
	.transition-none {.transition(0s);}
	.active-tab {color: #333 !important; background: white !important; border:1px solid #ccc; border-bottom: none;}
	.cam-icon {display: inline; position: relative; left: -20px; margin: 0;}
	.all-the-icons {position: relative; top:-20px;}
}

/* view property page */ 
.view-property {
	
	.row {margin: 0; padding: 10px; border: 1px solid #E4E2E2; position: relative; min-height: 100px;}
	img.profile-img {max-height: 150px; max-width: 150px; height:150px; width:150px; background: url(../img/profile/none.jpg);}
	.address {display: inline-block; text-align: center; margin-left: 15px;}
	.row form {position: absolute; right: 10px; bottom: -10px;}
	.upper {margin-top: 40px;}
	.upper h3 {display: inline;}
	.upper .last-updated {float: right;position: relative;top: 15px;}
	.features-list { text-align: left;}
	.features-list li {display: inline-block;text-align: left;width: 32%;}
	.features-list li i {font-size: smaller; color: rgb(32, 177, 32);}
	h3 {margin: 40px 0 0 0;}
	.row.units-table {padding: 0;}
	.units-table table {width: 100%; font-size: 12px;
		.top-row {background: #333; color: white;}
		tr.property-row td a {display: block;}
		tr.property-row td a.margin20l {margin-left: 20px;}
		tr.property-row:nth-child(odd) {background: #F1F0F0;}
		tr.property-row:last-child {margin-bottom: 20px;}
		tr.property-row:hover {background: rgb(209, 209, 209); .transition(.1s);}
		tr.property-row {.transition(.1s);}
	}
	.w-btns {
		.btn.gmaps {position: absolute;bottom: 44px;right: 10px;}
		.btn.yelp {position: absolute;bottom: 78px;right: 10px;}
		.btn {width: 130px !important;}
	}
}

/* view unit page */
.view-unit {
	
	ul.unit-features {text-align: left;}
	
	ul.unit-features li {display: inline-block; width: 30%; margin-bottom: 2px;}
	ul.unit-features li b {font-size: 14px;}
	ul.unit-features li i {font-size: smaller; color: rgb(32, 177, 32);}
	.row {margin: 0; border: 1px solid #E4E2E2; position: relative;}
		table {width: 100%; font-size: 12px; text-align: center; margin-bottom: 30px;
			.top-row {background: #333; color: #fff;}
			tr.fee-row:nth-child(odd) {background: #F1F0F0;}
			tr.fee-row {.transition(.1s);}
			tr.fee-row:hover {.transition(.1s);background: rgb(209, 209, 209); cursor: pointer;}
		}
	.features-row {margin-bottom: 40px; padding: 20px;}
	ul.unit-features li.longer {width: 100%;}
	.img-row {padding: 15px;}
}

/* compose message page */
.compose-message {
	
	textarea { width: 99%; max-width: 99%; height: 150px;border: 1px solid #cccccc;padding: 5px; margin-bottom: 20px; font-size: 12px;} 
	.moveleft {position: relative; left: -10px;}
	label {width: auto;}
}

/* messages inbox page */
.message-inbox {
	.row {margin: 0; position: relative;}
	table {width: 100%; font-size: 12px;}
	.top-row {background: #333; color: #fff;}
	tr.message-row:nth-child(odd) {background: #F1F0F0;}
	.dynamic-subject {margin: 3px 0; float: left !important; width: 100%; height: 100%;}
	tr.message-row {.transition(.1s);}
	tr.message-row:hover {background: rgb(209, 209, 209); .transition(.1s);}
	tr.message-row td a, .dynamic-subject {display: block;}
	.margin20l a {margin-left: 20px; }
	.padding20l {padding-left: 20px; }
	.message {background: #F8F8F8; padding: 30px; border: 1px solid #ccc;}
	form {display: inline; float: right;}
	.header-info form {float: none;}
	.reply-btn {margin-right: 10px;}
	.header-info { 
		margin-bottom: 10px;
		p {margin: 0;}
	}
	a {text-decoration: none;}
	i.icon-comment, i.icon-comment-alt {position: relative; top: -2px; }
	.new {font-weight: bold;}
	
}

/* add unit page */
.add-unit {
	.row {margin: 0; border: 1px solid #E4E2E2; position: relative;}
	.param {margin-left: 107px; position: relative; top: -2px;}
	table {width: 100%; text-align: center; font-size: 12px;
		.top-row {background: #333; color: white;}
		input {margin-bottom: 5px; margin-top: 5px;}
		tr.account-row:nth-child(odd) {background: #F1F0F0;}
		tr.account-row {.transition(.1s);}
		tr.account-row:hover {.transition(.1s);background: rgb(209, 209, 209); cursor: pointer;}
	}
	table input {width: 100px;}
	.add-term { margin: 10px 0 -50px 0px; position: relative; top:-50px;}
	textarea {max-width: 720px;}
	.submit-unit {margin-right: 10px;}
}

/*add unit success page*/
.add-unit-success {
}

/*update unit page*/
.update-unit {
	.add-more {margin: 10px 0;}
	textarea {max-width: 720px;}
	.row {margin: 0; border: 1px solid #E4E2E2; position: relative;}
	.push-left {position: relative; left: -10px;}
	.push-it {margin-left: 107px; position: relative; top: -2px;}
	table {width: 100%; text-align: center; font-size: 12px; margin-bottom: 10px;
		.top-row {background: #333; color: white;}
		.btn, input {margin-bottom: 5px; margin-top: 5px;}
		tr.account-row:nth-child(odd) {background: #F1F0F0;}
		tr.account-row {.transition(.1s);}
		tr.account-row:hover {.transition(.1s);background: rgb(209, 209, 209); cursor: pointer;}
		input {width: 100px;}
	}
	.add-term { margin: 10px 0 -50px 0px; position: relative; top:-50px;}
	.submit-btn {margin-bottom: 30px; margin-right: 10px;}
}

/*update lease terms page*/
.update-lease-terms {
	.row {margin: 0; border: 1px solid #E4E2E2; position: relative;}
	table {width: 100%; text-align: center; font-size: 12px;
		.top-row {background: #333; color: white;}
		.btn, input {margin-bottom: 5px; margin-top: 5px;}
		input {width: 100px;}
	}
	.btn {margin-top: 10px; margin-bottom: 20px;}
	.btn.cancel {margin-left: 10px;}
}

/* property registration page */
.register-wrap {
	.push-it {margin-left: 157px; width: auto; position: relative; top: -2px;}
	span.img-wrap {display: inline-block; margin-left: 50px;}
	input[type="file"] {height: 30px; line-height: 0px !important; margin-top: 10px; cursor: pointer;}
	input[type="file"]:focus, select:focus {outline: none;}
	select {width: 280px; height: 35px;}
	input {width: 265px}
	input[type="checkbox"] {width: auto; margin-top: -2px;}
	img {margin-bottom: 20px;}
	.trash-cable {position: absolute; bottom: 330px; left: 250px;}
	.gen.btn {height: 31px;line-height: 31px;position: relative;top: -1px;left: 1px; background: #333;}
	.gen.btn:hover {background: black;}
	h2,h3,h4,h5 {text-transform: lowercase;}
	table {width: 100%; text-align: center; font-size: 12px;
		.top-row {background: #333; color: white;}
		tr.account-row:nth-child(odd) {background: #F1F0F0;}
		tr.account-row input {width: 100px;}
		tr.account-row {.transition(.1s); height: 75px;}
		tr.account-row:hover {.transition(.1s); background: rgb(209, 209, 209); }
		tr.account-row td form {margin: 0;}
		i.icon-warning-sign {color: red;}
		i.icon-ok {color: green;}
		.update.btn {margin-left: 10px;}
	}
	#announcement-ta {width: 100%; height: 100px; max-width: 100%;}
	#announcement-dd, select[name="user"] {width: 265px;}
	tr.announce-row:nth-child(odd) {background: #F1F0F0;}
	tr.announce-row td form {margin: 0;}
	tr.announce-row {.transition(.1s);height: 30px;}
	tr.announce-row:hover {.transition(.1s); background: rgb(209, 209, 209); }
	.good-code {font-size: 20px; font-weight: 200; color: #35aa47; text-align: center;}
	.code-mask {height: 50px; width: 300px; position: absolute; left: 165px; cursor: not-allowed;}
	.announce-label {top: 11px; left: 2px; text-align: left;}
	.gallery label {position: relative; top:0; left: -2px;}
	.gallery .error {top: 100px;text-align: center;width: 900px;}
	.error.update-u {}
	.inner-announce input {height: 20px; width: 250px;}
	.recover-btn {width: 150px !important; height: 39px !important; position: relative; top: 3px; margin-left: 10px;}
}

.account-page {width: 1200px;
	.wo-bg {background: none;}
}

/* announcement wrapper */
.announcement-wrapper {
	table {width: 100%; text-align: center;
		.top-row {background: #333; color: white;}
		tr.announce-row:nth-child(odd) {background: #F1F0F0;}
		tr.announce-row td a {display: block;}
		tr.announce-row {.transition(.1s);}
		tr.announce-row:hover {background: rgb(209, 209, 209);.transition(.1s);}
	}	
	.display-ib {display: inline-block; font-size: 30px; font-weight: 200; margin-bottom: 20px; text-transform: lowercase;}
}


/* admin control panel */
.cp-wrapper {
	ul {text-align: center;}
	ul li {line-height: 20px; width: 30%;display: inline-block;text-align: center;margin: 12px; height: 250px; .transition(.3s);}
	ul li:hover {.transition(.3s);}
	.cpreg {background: #CFA435;}
	.cpusers {background: #AF4545;}
	.cpannounce {background: #285A81;}
	.cppw {background: #5C98C0;}
	.cpadd {background: #664980;}
	.cppmt {background: rgb(69, 160, 142);}
	.cpreg:hover {background: #C0972D;}
	.cpusers:hover {background: #943434;}
	.cpannounce:hover {background: #1F4868;}
	.cppw:hover {background: #4B83A8;}
	.cpadd:hover {background: #55396F;}
	.cppmt:hover {background: #388878;}
	ul li a {color: white; display: block; height: 100%; font-size: 20px; font-weight: 100; padding-top: 30px;}
}

.add-update {
	select {width: 205px;}
	textarea {width: 600px; max-width: 600px; height: 100px;}
}



